.main-title {
  margin: 0 0 40px;
}

.main-title__container {
  display: flex;
}

.main-title__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 55px;
  color: $main-text;
  margin: 0;
}

@include mobile {
  .main-title {
    margin: 0 0 24px;
  }

  .main-title__title {
    font-size: 27px;
    line-height: 32px;
  }
}
